*{
  box-sizing: border-box;
}

header{
  text-align: center;
}
body{
  background-color: black;

  font-family: 'Orbitron', sans-serif;
}

.container{
  width: 1200px;
  height: 750px;
  border: 1px solid black;
  display: flex;
  justify-content:space-around;
  margin: auto;
  background-color: black;
}
.buttons{
  width: 200px;
  height:100%;
  display:flex;
  flex-direction: column;
  margin:10px;
  align-items: center;
  border: 1px solid white;
  text-align: center;
}


.startButton{
  width: 150px;
  height: 40px;
  border: 1px solid white;
  background-color: #42c2f4;
  color:#f4a142;
    margin:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;

}
.endButton{
  width: 150px;
  height: 40px;
  border: 1px solid white;
  background-color: #42c2f4;
    color:#f4a142;
    margin:10px;
    display: flex;
    justify-content: center;
    align-items: center;
      font-size: 26px;
}
.resetButton{
  width: 150px;
  height: 40px;
  border: 1px solid white;
  background-color: #42c2f4;
    color:#f4a142;
    margin:10px;
    display: flex;
    justify-content: center;
    align-items: center;
      font-size: 26px;
}
.levelOfDifficulty{
  width: 150px;
  height: 45px;
  border: 1px solid white;
  background-color: #42c2f4;
  display: flex;
  justify-content: center;
  align-items: center;

}
select{
  width: 150px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.maze{
  align-items: center;


  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height:100%;
  justify-content: center;
  max-height: 800px;
  max-width: 800px;
  border: 1px solid red;

}

.maze div{
  flex-grow: 1;
  width: calc(100% / 20);
   height: calc(100% / 20);



}
.maze div.player[data-direction="forward"] {
  transform: scaleX(1);
}
.player{
  flex-grow: 1;
  height:10%;
  width: 10%;
  background-image: url('images/pacman.png');
  background-size: cover;
  background-position-x: 0;
  background-position-y: 0;
}
.maze div.player[data-direction="backward"] {
  transform: scaleX(-1);
}
.maze div.player[data-direction="downward"] {
  transform: scaleY(-1);

}
.maze div.player[data-direction="upward"] {
  transform: scaleY(1);

}
.wall{
  flex-grow: 1;
  height:10%;
  width: 10%;

  background-image: url('images/wall.png');
}
.way{
  flex-grow: 1;
  height:10%;
  width: 10%;
  border:  1px solid black;
  background-color: black;
}

.timeScore{
  width: 200px;
  height:100%;
  border:  1px solid white;
  display: flex;
  flex-wrap: wrap;
  color:#f4a142;
  font-size: 26px;




}
.time{
  width: 50%;
  height: 50px;
  border:1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

}

.ghost{
  flex-grow: 1;
  height:10%;
  width: 10%;

  background-image: url('images/ghost1.png');
  background-size: cover;
}
.ghost2{
  flex-grow: 1;
  height:10%;
  width: 10%;

  background-image: url('images/ghost2.png');
  background-size: cover;
}
.ghost3{
  flex-grow: 1;
  height:10%;
  width: 10%;

  background-image: url('images/ghost3.png');
  background-size: cover;
}
.cherry{
  flex-grow: 1;
  height:2%;
  width: 2%;

  background-image: url('images/cherry.png');
  background-size:contain;

}
.score{
  width: 50%;
  height: 50px;
  border:1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
